* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: antiquewhite;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #a5c4e7;
    transition: width 0.3s;
}

.nav-link:hover {
    color: #a5c4e7;
}

.nav-link:hover::after {
    width: 100%;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}