html {
    height: 100%;  /* 页面自适应显示 */
}

.container {
    height: 100%;  /* 页面自适应显示 */
    background-color: #ebebeb;
    background-image: url('background.jpg'); /* 将背景图设置在container中 */
    background-size: cover;
    background-position: center;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.9);  /* 表单背景 */
    width: 70%;  /* 设置表单宽高 */
    max-width: 1500px;
    min-height: 80%;
    border-radius: 15px;  /* 圆角样式 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 40px;  /*左右padding50px */
    position: absolute;  /* 绝对定位 */
    left: 50%;  /* 垂直水平居中布局 */
    top: 50%;
    transform: translate(-50%, -50%);
}

.blog-header {
    height: 200px;
    padding: 40px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.blog-header h1 {
    margin: 0;
}

.blog-header p {
    margin-top: 10px;
}

.blog-content {
    padding: 20px;
    border-radius: 0 0 8px 8px;
}

.blog-content h2 {
    margin-top: 0;
}

.blog-content article {
    margin-bottom: 20px;
}

.blog-content article h3 {
    color: #333;
}

.blog-content article p {
    color: #666;
}
a{
	font-size: 25px;
}
