body{
    width: 100%;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}
.begin{
    position: relative;
    top: -12px;
    width: 100%;
    height: 130px;
    border-radius: 25px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(197, 193, 193);box-shadow: 0px 5px 0px 0px #dcdbdb;

}
.header-logo img{
    position: relative;
    top: 30px;
    left: 170px;
    width: 80px;
    height: 80px;
}
.text p{
    font-size: 32px;
    display: block;
    position: relative;
    top: -65px;
    left: 290px;
}
.text1 p{
    font-size: 17px;
    color: #908c8c;
    display: block;
    position: relative;
    top: -105px;
    right: -1200px;
}

.container{
    position: relative;
    top: -30px;
    width: 380px;
    /* 7%: 上下外边距 auto: 左右外边距  */
    margin: 7% auto;
    border-radius: 25px;
    background-color: rgb(244, 244, 244);
    box-shadow: 0 0 17px #c2bcbc;
}
.header{
    text-align: center;
    padding-top: 15px;
}
.header h1{
    color: #333;
    font-size: 45px;
    margin-bottom: 30px;
}
.main{
    text-align: center;
}
.i{
    margin-right: 20px;
}
.i2{
    margin-right: 20px;
}
.j{
    margin-right: 12px;
}
.k{
    margin-right: 12px;
}
.main input,button{
    width: 300px;
    height: 40px;
    /* 边框消失 */
    border: none;
    /* 去掉选中时的边框 */
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 40px;
}
.main button{
    padding-left: 0px;
    background-color: rgb(249, 199, 199);
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-left: 18px;
}
.main button:hover{
    box-shadow: 2px 2px 5px #a07c7c;
    background-color: #abd8fb;
}
.main input:hover{
    box-shadow: 2px 2px 5px #a57d7d;
    background-color: #ddd;
}
.main span{
    /* 相对定位 */
    position: relative;
}
.icon-user{
    position: absolute;
    left: 30px;
    color: #333;
    font-size: 18px;
    top: 2px;
}
.icon-lock{
    position: absolute;
    left: 33px;
    color: #333;
    font-size: 20px;
    top: 2px;
}