*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings' sans-serif;
}
 body {
    display: flex;
    justify-content: center; /*背景弹性居中填充*/
    align-items: center; /*背景垂直居中*/
    min-height: 100vh; /*背景最小为100vh*/
    background: url(back.jpg) no-repeat; /*导入背景图*/
    background-size: cover; /*背景大小覆盖整个页面*/
    background-position: center;  /*背景位置居中*/
    
 }
 /*菜单导航栏*/
 header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 100px;
   /* background-color: brown; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 99;
 }

 .logo{
    font-size: 2em;
    color:aliceblue;
    user-select: none;
 }
 .navigation a {
    position: relative;
    font-size: 1.1em;
    color:aliceblue;
    text-decoration: none;
    font-weight:500;
    margin-left: 40px;
 }
 .navigation .loginBtn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:aliceblue;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
 }
  .navigation .loginBtn:hover{
    background-color:aliceblue;
    color:black;
  }
  /* 登录菜单样式 */
  .wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow:0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
  }
  .wrapper .form-box {
    width: 100%;
    padding: 40px;
  }
  .form-box h2 {
    font-size: 2em;
    color:#162938;
    text-align: center;
  }
  .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
  }
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  .input-box input:focus~label,
  .input-box input:valid~label {
    top:-5px;
  }

  .input-box input {
    width:100%;
    height:100%;
    background-color:transparent;
    border: none;
    outline: none;
  }
  .remember-forgot {
    font-size: .9em;
    color:#162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
  }
  .remember-fogot label input{
    accent-color: #162938;
    margin-right: 3px;
  }
  .remember-fogot a{
    color:#162938;
    text-decoration: none;
  }
  .remember-fogot a:hover {
   
    text-decoration: underline;
  }
  .submitBtn{
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color:#fff;
    font-weight: 500;
  }
  .login-register{
    font-size: .9em;
    color:#162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }
  .login-register p a {
    color:#162938;
    text-decoration: none;
    font-weight: 600;
  }
  .login-register p a:hover{
     text-decoration: underline;
  }
  /* 关闭按钮的样式 */
  .wrapper .close-icon{
    position: absolute;
    top: 0;
    right: 0;
    width:45px;
    height: 45px;
    background-color: #162938;
    font-size: 2em;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }