@font-face {
  font-family: "iconfont"; /* Project id 4942744 */
  src: url('iconfont.woff2?t=1749282714427') format('woff2'),
       url('iconfont.woff?t=1749282714427') format('woff'),
       url('iconfont.ttf?t=1749282714427') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e666";
}

.icon-user:before {
  content: "\e858";
}

