/* 轮播图开始 */
body{
    background: linear-gradient(45deg,#ffe6f7,#c8b6ff,#bde0fe);
}
.begin{
    margin: 0;
    width: 1700px;
    height: 150px;
    
}
.begin span{
    display: block;
    position: relative;
    top: 20px;
    left: 580px;

}
.begin span p{
    font-size: 50px;
    color: #d02491;
}
.alter{
    width: 200px;

}
.banner{
    width: 100%;
    height: 470px;
    padding-top: 10px;
    margin-bottom: 30px;
}
.banner-box{
    height: 470px;
    
}
.banner-slide{
    width: 790px;
    height: 470px;
    margin: 0 auto;
}
.slide{
    position: relative;
    padding: 0;
    width: 690px;
    height: 470px;
}
.imgs{
    border-radius: 20px;

}
.prev,.next{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgb(232, 50, 123);
    font-size: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.prev{
    left: 0;
    border-radius: 0 18px 18px 0;
}

.next{
    position: absolute;
    right: 0;
    border-radius: 18px 0 0 18px;
}
.banner-btn{
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 120px;
    height: 15px;
}
.banner-btn li{
    /* 去除黑点 */
    list-style: none;
    float: left;
    width: 8px;
    height: 8px;
    border: 1px solid rgba(212, 34, 34, 0.05);
    margin-right: 4px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
}
.banner-btn .active{
    /* relative微调 */
    position: relative;
    top: -2px;
    width: 8px;
    height: 8px;
    border: 3px solid rgba(0,0,0,.1);
    background-color: rgba(255,255,255,1);
}

/* 轮播图结束 */