
<style type="text/css">
body,h2,ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background: url("image/bodybg.jpg");
    font-family: "微软雅黑";
    font-size: 14px;
    color: #000;
}
a {
    text-decoration: none;
}
.news {
    background: #FFF;
    border: 1px solid #CCC;
    width: 458px;
    height: 228px;
    padding: 5px 10px;
    margin: 20px auto;
}
