/* CSS Document */
body,ul,li,p,h2 {/*设置元素的初始属性*/
     margin: 0;
     padding: 0;
     list-style: none;
}
body{
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #333333;
}
header{
    width: 1000px;
    height: 200px;
    background: url(河北2.jpg)no-repeat;
    margin: 0 auto;
    background-size:cover;
}
.content{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
nav{
    width: 300px;
    height: 400px;
    float: left;
    background-color: #86b8f9;
}
nav ul li{
    width: 300px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
}
nav ul li a{
    color: #333;
    text-decoration: none; 
    display: block; 
    width: 292px; 
    height: 40px;
    border-left: 8px solid #bcdbf9;/*设置超链接左侧的边框*/
}
    nav ul li a:hover {
    font-weight: bold;
    background-color:#bcdbf9;/*背景颜色与边框颜色相同*/ 
    color:#fff;
}
    .main {
    float: left;/*设置左浮动*/ 
    width: 680px; 
    height: 390px;
    background-color: #b4d3fb; 
    padding: 0px 10px 10px;
}
    .main h2 {
    height: 40px;
    line-height: 40px;
    font-size: 20px; 
    padding-left:30px;
    border-bottom: lpx dashed #67a8f8;
}
.textl {
    line-height: 30px; 
    text-indent: 3em;
    padding-top: 10px;
}
footer {
    width: 1000px; 
    height: 60px;
    line-height: 60px;
    background-color:#69a7f8; 
    font-size: 12px; 
    color: #fff;
    text-align: center; 
    margin: 0 auto;
}